@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/derived-variables';
@import '~bulma/sass/utilities/mixins';
@import 'variables';

.signup {
  flex: 1;
  padding: $vr2 $vr2;
  margin: $vr2 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile {
    padding: unset;
  }
}
.container {
  border: solid 1px $grey;
  padding: 2*$vr1;
  display: flex;
  flex-direction: column;
  width: 17*$vr1;
  height: auto;
  @include mobile {
    border: none;
    width: 90vw;
  }
}
.title {
  font-family: $medium;
  font-size: ms(1);
  color: $primary;
  text-align: center;
  margin-bottom: $vr1;
}
.error {
  font-size: 12px;
  text-align: center;
  font-family: $regular;
  color: $red;
}
.input {
  border: none;
  border-bottom: solid 1px white;
  background-color: $background;
  color: white;
  font-size: ms(0);
  font-family: $regular;
  padding: 0 $vr1 $vr1/2 0;
  margin-top: $vr1;
  width: 100%;
  &::placeholder {
    font-size: ms(0);
    font-family: $regular;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px $background;
    -webkit-text-fill-color: white;
  }
}
.password {
  position: relative;
}
.icon {
  height: 18.5px;
  position: absolute;
  right: 1px;
  margin-top: $vr1;
  cursor: pointer;
}
.agree {
  font-size: 12px;
  text-align: center;
  margin-top: 1.5*$vr1;
  font-family: $regular;
}
.tos {
  color: $primary;
  text-decoration: underline;
  &:hover {
    color: $primary;
  }
}
.button {
  margin: 1.5*$vr1 auto 0;
  width: 70%;
  font-family: $medium;
}
.line {
  background-color: $grey;
  width: 70%;
  margin: 2*$vr1 auto $vr1;
  height: 1px;
}
.already {
  font-family: $regular;
  text-align: center;
}
.login {
  @extend .tos;
}
